@import "tailwindcss";

@theme{
--color-gray-50: #f6f6f6;
--color-gray-100: #e7e7e7;
--color-gray-200: #d1d1d1;
--color-gray-300: #b0b0b0;
--color-gray-400: #808080;
--color-gray-500: #6d6d6d;
--color-gray-600: #5d5d5d;
--color-gray-700: #4f4f4f;
--color-gray-800: #454545;
--color-gray-900: #3d3d3d;
--color-gray-950: #262626;

--color-red-berry-50: #ffeeee;
--color-red-berry-100: #ffdada;
--color-red-berry-200: #ffbbbb;
--color-red-berry-300: #ff8b8b;
--color-red-berry-400: #ff4949;
--color-red-berry-500: #ff1111;
--color-red-berry-600: #ff0000;
--color-red-berry-700: #e70000;
--color-red-berry-800: #be0000;
--color-red-berry-900: #880000;
--color-red-berry-950: #560000;
}

